.sliders {
  flex-direction: column;
}

.sliders > div:not(:last-child) {
  margin-bottom: 15px;
}

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 10px;
  margin: 10px 0 15px 0;
  border-radius: 5px;
  background: #e4ddf1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #b6afc7;
  border: 4px solid #000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #b6afc7;
  border: 4px solid #000;
  cursor: pointer;
}