/****************/
/* Slider input */
/****************/

.sliders {
  flex-direction: column;
}

.sliders > div:not(:last-child) {
  margin-bottom: 15px;
}

.slider {
  display: initial;
  -webkit-appearance: none;
  width: 150px;
  height: 10px;
  margin: 10px 0 15px 0;
  border-radius: 5px;
  background: #e4ddf1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #b6afc7;
  border: 4px solid #000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #b6afc7;
  border: 4px solid #000;
  cursor: pointer;
}

/***************/
/* Placeholder */
/***************/

:root {
  --placeholder-colour: hsl(257, 11%, 43%);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder-colour);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placeholder-colour);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--placeholder-colour);
}